<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\172.168.4.7\bartool\dzstore.mdb; Jet OLEDB:Database Password=11111;Persist Security Info=False"
            providerName="System.Data.OleDb" />
        <add name="dzstoreConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\172.168.4.7\bartool\dzstore.mdb;Jet OLEDB:Database Password=11111;Persist Security Info=False"
            providerName="System.Data.OleDb" />
        <add name="bartool.Properties.Settings.dzstoreConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\172.168.4.7\bartool\dzstore.mdb;Jet OLEDB:Database Password=11111;Persist Security Info=False"
            providerName="System.Data.OleDb" />
        <add name="bartool.Properties.Settings.dzstoreConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\172.168.4.7\bartool\dzstore.mdb;Jet OLEDB:Database Password=11111;Persist Security Info=False"
            providerName="System.Data.OleDb" />
        <add name="bartool.Properties.Settings.BookStoreConnectionString"
            connectionString="Data Source=ANGLE-PC;Initial Catalog=BookStore;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="bartool.Properties.Settings.BookStoreDataConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\database\BookStoreData.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="bartool.Properties.Settings.dzstoreConnectionString2"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\dzstore.mdb;Persist Security Info=True;Jet OLEDB:Database Password=11111"
            providerName="System.Data.OleDb" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
